<%= link_to "Submit an Event", new_event_path %>
<!DOCTYPE html>
<html>
<head>
  <title>Events</title>


  <%= csrf_meta_tags %>
</head>
<body>
    <section class="profile-photo">
  <h1><a href="/events">Events</a></h1>
      <%- if current_user -%>

          <div class='user-email'>
            <%= current_user.email %>
          </div>

          <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
        <%- else -%>
              <%= link_to 'Sign Up', new_user_registration_path %></br>
          <%= link_to 'Sign In', new_user_session_path %>
        <%- end -%>
        </div>
    </ul>
  </section>
</nav>

<%if current_user != nil%>
  <%if current_user.role == "admin"%>
</br>
</br>
Verify Events!
<%=@display.count%> to approve!
<%@display.each do |f|%></br>
<%=f.title%> (Created by <%=f.user.first_name + " " + f.user.last_name%>) <%= link_to "edit", edit_event_path(f.id) %>
<%end%>
<%end%>
<%end%>
