</br></br>
<h1 class="title"><%=  @event.title %> </br></h1>
<h1 class="creator"><%= @event.user.first_name%> <%= @event.user.last_name%></br></h1>
<h1 class="creator"><%="event date: "+ @event.date %> </br></h1>
<%= "event description: " +@event.description %> </br>
</br>
<div class="event image"> <%=image_tag(@event.event_image) %> </div>
</br>

<%if @user != nil%>
  <%if current_user.role == "admin"%>
  <row>
    GUESTLIST:</br></br>
    <%@event.guestlists.each do |f|%>
      <%=User.find(f.user_id).first_name.to_s + " " + User.find(f.user_id).last_name.to_s + " Phone Number: " + User.find(f.user_id).phone_number.to_s%></br>
      <%end%>
    <%end%>
  </row>
<%end%>
  <%if @user != nil%>
    <% if @event.guestlists.find_by(user_id: current_user.id) == nil%>
      <%= form_for [@event, @guestlist] do |f| %>
        <%f.label :user_id%>
        <%= hidden_field_tag "user_id", current_user.id %>
        <%f.label :event_id%>
        <%= hidden_field_tag "event_id", @event.id %>
        <%= f.submit "Attend!", class:"button" %>
      <%end%>
    <%end%>
    <%else%>
<h1>Sign in to attend!<%= link_to 'Sign In', new_user_session_path %>   <%= link_to 'Sign Up', new_user_registration_path %></br></h1>d

  <%end%>

<%if @user != nil%>
  <%@event.guestlists.each do |f|%>
  <% @event.guestlists.where(f.user_id == current_user.id)%>
  <%end%>
<%end%>
<%if @user != nil%>
  <% if @event.guestlists.find_by(user_id: current_user.id) != nil%>
    Thank you for signing up!!! :)
    <%= link_to "I'm not attending", event_guestlist_path(@event, @event.guestlists.find_by(user_id: current_user.id)), method: :delete %>
  <%end%>
<%end%>
