<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar">


        <a href="/"><bold>- Project 72 </bold>-</a>


        <% if current_user %>

           <href="#" data-dropdown="hover1" aria-controls="hover1" aria-expanded="false" data-options="is_hover:true;"> <%=current_user.first_name.capitalize%> <%=current_user.last_name.capitalize%>&nbsp;


      <% else %>
      <ul class>
        <li><a href="#" data-reveal-id="SignUpModal">Sign Up</a></li>
        <li><a href="#" data-reveal-id="SignInModal">Sign In</a></li>
        <% end %>
      </ul>
    </div>
  </section>
</nav>
    <%= yield %>
  </body>
</html>
