<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application", media: 'all' %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <script type="text/javascript" src="/js/foundation.min.js"></script>
    <%= csrf_meta_tags %>
  </head>

<body>

</body>
  <div class="top-bar large-12 columns, contain-to-grid">
      <section class="top-bar-section">
        <bold href="/">- Project 72 -</bold>
        <li><a href="#"> Meet Us </a>
        <li><a href="#"> Opportunities </a>
        <li><a href="#"> Gallery </a>
        <li><a href="#"> Get Involved </a>
        <li><a href="#"> Meet Us </a>
        </ul>
        <span class="UserSpace">
        <% if current_user %>
           <a class="button" data-dropdown="drop"><%=current_user.first_name.capitalize%> <%=current_user.last_name.capitalize%>&nbsp;</a>
        <% else %>
          <%=link_to 'Sign Up', new_user_registration_path %><%=link_to 'Sign In', new_user_session_path %></a>
        <% end %>
      </span>
      </section>

</div>
<%=yield%>

  <!-- <body>

    <nav class="top-bar">


        <a href="/"><bold>- Project 72 -</bold>


    <% if current_user %>
    <ul class="right">
    <href="#" data-dropdown="hover1" aria-controls="hover1" aria-expanded="false" data-options="is_hover:true;"> <%=current_user.first_name.capitalize%> <%=current_user.last_name.capitalize%>&nbsp;
    <ul>

      <% else %>
      <ul class>
        <li><a href="#" data-reveal-id="SignUpModal">Sign Up</a></li>
        <li><a href="#" data-reveal-id="SignInModal">Sign In</a></li>
        <% end %>
      </ul>
    </div>
  </section>
</nav>
    <%= yield %>
  </body>


  <div id="SignInModal" class="reveal-modal" data-reveal aria-labelledby="SignInModalTitle" aria-hidden="true" role="dialog">
  <h2 id="SignInModalTitle", class="modal-header">Sign In</h2>
  <br>

  <%= form_for(:user, url: session_path(:user)) do |f| %>
    <div class="row">
      <%= f.label :email %><br />
      <%= f.email_field :email, :value => '', autofocus: true %>

      <%= f.label :password %><br />
      <%= f.password_field :password, :value => '', autocomplete: "off" %>


      <%= f.submit "Sign In", class:"button" %>

    </div>
  <% end %>
</div> -->
</html>
<!-- <% if current_user %>
<ul id="hover1" class="f-dropdown" data-dropdown-content>
  <li><a href="/users/edit" >joj Profile</a></li>
  <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
</ul>

<% end %>
</ul>
<% if false %>
  <!-- Logo -->
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"> thenewboston</a></h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <h1><a href="#"><span></span></a></h1>
    </li>
  </ul>
  <!-- Buttons -->
  <section class="top-bar-section">
    <!-- Right Buttons -->
    <ul class="right">
      <li><a href="#"> Profile </a></li>
      <li><a href="#"> Profile </a></li>
    </ul>

    <!-- Left Buttons -->
    <ul class="left">
      <li><a href="#"> Profile </a></li>
      <li><a href="#"> Profile </a></li>
    </ul>
  </section>%>
<% end %>
