<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application", media: 'all' %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <script type="text/javascript" src="/js/foundation.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
<!-- original top bar wihtout Eben's help -->
<body>
  <nav class="top-bar small-12 columns columns">
      <div class="logo small-3 columns"><a href="/"><%=link_to '- Project 72 -', root_path %></a></div>

      <div class="link small-2 columns"> <a href="/events"> About Us </a></div>

        <div class="link small-2 small columns"> <a href="/events"> Events </a></div>
        <div class="linkow small-1 columns"><a href="#"> Gallery </a></div>
        <div class="userspace small-2 columns" href="#">
        <% if current_user %>
            <a href="/users/edit" data-dropdown="drop"><%=current_user.first_name.capitalize%> <%=current_user.last_name.capitalize%>&nbsp;</a></div>
            <% else %>
         <a href="#" data-dropdown="hover1" data-options="is_hover:true; hover_timeout:5000"><%= image_tag("user.png")%></a></div>

            <% end %>

        </span>
</li>
        </div>


        </nav>

</body>

<!-- Eben's edit
<body>
  <nav class="top-bar small-8 columns">
    <ul class="title-area">
      <li class="left"><a href="#"><bold href="/">- Project 72 -</bold></a></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section, aria-expanded="false"">
      <li>
        <a href="#"> Meet Us </a>
      </li>
      <li>
        <a href="#"> Opportunities </a>
      </li>
      <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
      <li>
        <a href="#"> Gallery </a>
      </li>
      <li>
        <a href="#"> Get Involved </a>
      </li>
      <li>
        <a href="#" />
          <span class="UserSpace", small-4 columns, float=right>
            <% if current_user %>
            <a  data-dropdown="drop"><%=current_user.first_name.capitalize%> <%=current_user.last_name.capitalize%>&nbsp;</a>
            <% else %>
            <a  float=right><%=link_to 'Sign Up', new_user_registration_path %><%=link_to 'Sign In', new_user_session_path %></a>
            <% end %>
          </span>
      </li>
    </section>
  </nav>
</body> -->

<%=yield%>

  <!-- <body>

    <nav class="top-bar">


        <a href="/"><bold>- Project 72 -</bold>


    <% if current_user %>
    <ul class="right">
    <href="#" data-dropdown="hover1" aria-controls="hover1" aria-expanded="false" data-options="is_hover:true;"> <%=current_user.first_name.capitalize%> <%=current_user.last_name.capitalize%>&nbsp;
    <ul>

      <% else %>
      <ul class>
        <li><a href="#" data-reveal-id="SignUpModal">Sign Up</a></li>
        <li><a href="#" data-reveal-id="SignInModal">Sign In</a></li>
        <% end %>
      </ul>
    </div>
  </section>
</nav>
    <%= yield %>
  </body>


  <div id="SignInModal" class="reveal-modal" data-reveal aria-labelledby="SignInModalTitle" aria-hidden="true" role="dialog">
  <h2 id="SignInModalTitle", class="modal-header">Sign In</h2>
  <br>

  <%= form_for(:user, url: session_path(:user)) do |f| %>
    <div class="row">
      <%= f.label :email %><br />
      <%= f.email_field :email, :value => '', autofocus: true %>

      <%= f.label :password %><br />
      <%= f.password_field :password, :value => '', autocomplete: "off" %>


      <%= f.submit "Sign In", class:"button" %>

    </div>
  <% end %>
</div> -->
</html>
<!-- <% if current_user %>
<ul id="hover1" class="f-dropdown" data-dropdown-content>
  <li><a href="/users/edit" >joj Profile</a></li>
  <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
</ul>

<% end %>
</ul>
<% if false %>
  <!-- Logo -->
  <!-- <ul class="title-area">
    <li class="name">
      <h1><a href="#"> thenewboston</a></h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <h1><a href="#"><span></span></a></h1>
    </li>
  </ul>
  <!-- Buttons -->
  <section class="top-bar-section">
    <!-- Right Buttons -->
    <ul class="right">
      <li><a href="#"> Profile </a></li>
      <li><a href="#"> Profile </a></li>
    </ul>

    <!-- Left Buttons -->
    <ul class="left">
      <li><a href="#"> Profile </a></li>
      <li><a href="#"> Profile </a></li>
    </ul>
  </section>%>



<% end %> -->
